body{
    background-color: rgb(38, 38, 38);
    color:white;
}
div[class="main"]{
    display: flex;
    
}
div[class="main2"]{
    margin-top: 20px;
    background-color: rgb(38, 38, 38);
    display: flex;
}
div[class="left-bottom"]{
    position: relative;
    top:6cm;
}
div[class="top"]{
    display: flex;
    
    
}
span[class="top1"]{
    padding-left:20px;
}
div[class="top-right"]{
   position: relative;
   top:20px;
   left:35%;
}
.top-serach{
    width:6cm;
}
.heading{
    font-size:25;
}
div[class="information1"]{
    padding-left: 10px;
    position: relative;
    top:-0.6cm;
    width:100%;
    border-radius: 20px;
    padding-top:20px;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(74, 74, 74); 
    
}
.attribute{
    height:30px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 40%;
}
div[class="box"]{
    background-color: rgb(38, 38, 38);;
    width:50%;
    height: 2cm;
   padding-left: 30%;
    padding-top:1.5cm;
    border-radius: 10px;

}
button[class="uploadbutton"]{
    width:4cm;
    height:1cm;
    border-radius: 10px;
}
.right-left2,.right-left3,.right-left4{
padding-left: 10px;
}
.data {
       height:30px;
        border-radius: 10px;
         width:81%;
         padding-left: 10px;
}
.line1{
display: flex;
}
.line1box{
width:4cm;
}
img[class="photo"]{
width:5cm;
height:5cm;
position: relative;
left:0.6cm;
border-radius: 10px;
}
button[class="articlesave"]{
margin-left: 1.3cm;
border-radius: 5px;
width:2cm;
}
p[class="article"]{
width:7cm;
}
button[class="right-right-bottom"]{
width:100%;
margin-top:10px ;
height: .8cm;
border-radius: 10px;
}
div[class="left"]{
background-color: rgb(74, 74, 74);
padding-right: 1cm;
padding-left: 1cm;
}
div[class="top"]{
padding-top: 20px;
background-color: rgb(74, 74, 74);
width:112%;
}
div[class="right-left2"]{
padding-top: 20px;
background-color: rgb(74, 74, 74);
border-radius: 20px;
padding-bottom: 20px;
width:100%;
}
div[class="right-left3"]{
background-color: rgb(74, 74, 74);
padding-bottom: 20px;
border-radius: 20px;
padding-top: 20px;
margin-top: 20px;
width:100%;
}
div[class="right-left4"]{
background-color: rgb(74, 74, 74);
padding-bottom: 20px;
border-radius: 20px;
padding-top: 20px;
margin-top: 20px;
width:100%;
}
div[class="right-right1"]{
position: relative;
left:1.3cm;

}
div[class="imgpreview"]{
background-color:rgb(74, 74, 74); 
padding-bottom: 20px;
border-radius: 20px;
padding-top: 20px;
width:100%;
width:6.5cm;
padding-left: 10px;
}
div[class="right-right2"]{
margin-top: 20px;
padding:20px;
border-radius: 10px;
background-color:rgb(74, 74, 74); 
}
.top-serach{
width:12cm;
height:1cm;
border-radius: 20px;
}
input[type="search"],input[type="text"]{
background-color: rgb(38, 38, 38);
border:none;
padding-left: 10px;
color:white;
}
button[class="addstudnet"]{
width:3cm;
height: 1cm;
border-radius: 10px;
}
button{
background-color: rgb(160, 160, 3);
}
button:hover{
background-color:rgb(119, 119, 0); 
}
button:active{
background-color: rgb(35, 35, 0); 
color:white;
outline:none;
border:none;
}
div[class="right-right3"]{
margin-top: 20px;
padding:20px;
border-radius: 10px;
background-color:rgb(74, 74, 74); 
}
input[type="datetime-local"]{
width:5cm;
height: 1cm;
border-radius: 10px;
}
img[class="icon"]{
width:15px;
height:15px;
padding-right: 10px;
}
img[class="iconn"]{
width:20px;
height:20px;
padding-right: 10px;
}