footer.footer 
  nav.footer 
    ul.footerlist 
      li.footerHeading 
        a.footerlink(href='#') About us
      li.footerHeading 
        a.footerlink(href='#') Contact us
      li.footerHeading 
        a.footerlink(href='#') Terms and conditions
    p.footer__copyright &copy; by Team Kirmada. All rights reserved.