header.header 
  img.logoimage(src='/img/logo.png' alt='Logo')
  nav 
    ul.headerlist 
      li.headerHeading 
        a.headerlink(href='#') Home
      li.headerHeading 
        a.headerlink(href='#') ChatBot
      li.headerHeading 
        a.headerlink(href='#') About Us
      li.headerHeading 
        a.headerlink(href='#') Terms and Conditions
      li.headerHeading 
        a.headerlink(href='#') Contact Us
  if user 
    .buttons
      a.loginbutton(href='/userProfile') Update Profile
      a.loginbutton(href='/api/v1/users/logout') Logout
  else
    .buttons
      a.loginbutton(href='/login') Login
      a.loginbutton(href='/signup') Sign Up