doctype html 
html 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/css/userProfile.css')
    link(rel='shortcut icon' type='image/png' href='/public/img/logo.png')
    title Profile Page |
  body(style='background-color:rgb(38, 38, 38)')
    // Header
    include _header

    // Content
    block content 
      .main_home_page
        img(src="img/5184015.jpeg", alt="", style="width:100%;height:20cm;")
        .main_heading_box
          div.mainbox1 Unlock your 
            span(style="color:rgb(0, 0, 255)") Full Potential
          div(style="font-size:50px;") with Personalized Development
          p.lower-line-homepage
            span(style="font-size:20px;") Connect with Like-Minded Peers.
            p(style="opacity: 80%;")
    // FOOTER
    include _footer



//- if user 
//-     a(href='/api/v1/users/logout') Logout 
//-     a(href='/findFriend') Find Friend
//-     a(href='/updateMe') Update Me
//- else
//-     a(href='/login') Login 
//-     a(href='/signup') SignUp 