










//- if user 
//-     a(href='/api/v1/users/logout') Logout 
//-     a(href='/findFriend') Find Friend
//-     a(href='/updateMe') Update Me
//- else
//-     a(href='/login') Login 
//-     a(href='/signup') SignUp 