
html 
    head 
    title LoginPage
    link(rel="stylesheet",type='text/css',href='css/loginpage.css')

    body 
        div(class='fexling')

            div(class='main')
                div(class='heading')
                    p ALREADY MEMBERS
            
                div 
                    p
                        input(type='email' placeholder='Email')
                    
                    p
                        input(type='password' placeholder='Password')
                    
                    p 
                        button(class='sign') Sign In
                    
                    p Don't have Account yet?

                    p(class='link')
                        a( href='') Create an Account