extends base

block content 
  form.form
    .total-box
      .demo-page(style='background-color: black;')
        .demo-page-navigation
          nav(style='background-color: black; border:none;')
            ul(style='background-color: black; border:none; color: white;')
              li
                a(href='#personalInformation')
                  | Personal Information
              li
                a(href='#educationalBackground')
                  | Educational Background
              li
                a(href='#interestsAndLikes')
                  | Interests and Likes
              li
                a(href='dislikes')
                  | Dislikes
              li
                a(href='extracurricularActivities')
                  | Extracurricular Activities
              li
                a(href='#skillsAndTalents')
                  | Skills and Talents
              li
                a(href='#sportsAndGames')
                  | Sports and Games
              li
                a(href='#creativeArts')
                  | Creative Arts
              li
                a(href='#careerAspirations')
                  | Career Aspirations
              li
                a(href='#challengesAndWeaknesses')
                  | Challenges and Weaknesses
        main.demo-page-content(style='background-color: rgb(63, 62, 62);')
          section(style='background-color: rgb(46, 46, 46);')
            #intro.href-target
            h1.package-name(style='text-align: center;color:white') Profile Page
            section(style='background-color: rgb(35, 35, 35);')
              #installation.href-target
              h1.package-name(style='color:white')
                | Personal Information
              .nice-form-group
                label(style='color:white') Full Name
                input(type='text', placeholder='Full Name')
              .nice-form-group
                label(style='color:white') Date of Birth
                input(type='date', placeholder='Your name')
              .nice-form-group
                label(style='color:white') Gender
                p
                  select#year(name='years', style='width:100%;height:30px;border-radius: 5px;')
                    option(value='none') --select--
                    option(value='1') Male
                    option(value='2') Female
                    option(value='3') Others
              .nice-form-group
                label(style='color:white') Phone Number
                input(type='number', placeholder='Phone Number', style='width:100%')
              .nice-form-group
                label(style='color:white') Email Id
                input(type='email', placeholder='email')
            section(style='background-color: rgb(35, 35, 35);')
              #structure.href-target
              h1(style='color:white')
                | Educational Background
              .nice-form-group
                label(style='color:white') University/College Name
                input(type='text', placeholder='Name of College/University')
              .nice-form-group
                label(style='color:white')  Major Field of study
              .line(style='color:white;display: flex;')
                p.box(value='1' style='width:4cm')
                  input(type='radio' name='option')
                  | Bio Medical Engineering
                p.box(value='1' style='width:4cm;')
                  input(type='radio' name='option')
                  | Architecture
                p.box(value='1' style='width: 4cm;')
                  input(type='radio' name='option')
                  | Applied Geology
              .line(style='color:white ;display: flex;')
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Bio Technology
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Chemical Engineering
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Civil Engineering
              .line(style='color:white ;display: flex;')
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Computer Science &amp; Engineering
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Electrical Engineering
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Electronics &amp; Communication Engineering
              .line(style='color:white ;display: flex;')
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Information Technology
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Master In Computer Application
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Mechanical Engineering
              .line(style='color:white ;display: flex;')
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Mining Engineering
                p.box(style='width:4cm')
                  input(type='radio' name='option')
                  | Metallurgy Engineering
              .nice-form-group
                label(style='color:white') Current Year of Study
                p
                  select#year(name='years', style='width:100%;height:30px;border-radius: 5px;')
                    option(value='none') --select--
                    option(value='1') First Year
                    option(value='2') Second Year
                    option(value='3') Third Year
                    option(value='4') Fourth Year
            section(style='background-color: rgb(35, 35, 35);')
              #input-types.href-target
              h1(style='color:white')
                | Interests and Likes
              .nice-form-group
                label(style='color:white') Hobbies
                input(type='text', placeholder='Type Your Hobbies', value='')
              .nice-form-group
                label(style='color:white') Favourite Book
                input(type='text', placeholder='Name of book', value='')
              .nice-form-group
                label(style='color:white') Favourite Movie
                input(type='text', placeholder='Name of Movie', value='')
              .nice-form-group
                label(style='color:white') Favourite Music
                input(type='text', placeholder='Favourite Music', value='')
              .nice-form-group
                label(style='color:white') Favourite Subject
                input(type='text', placeholder='Favourite Subject', value='')
            section(style='background-color: rgb(35, 35, 35);color:white')
              #checkbox-and-radio.href-target
              h1(style='color:white')
                | Dislikes
              .nice-form-group(style='color:white')
                label(style='color:white') Disliked Subject
                input(type='text', placeholder='Disliked Subject')
              .nice-form-group
                label(style='color:white') Disliked Hobbies
                input(type='text', placeholder='Name of Hobbies')
              .nice-form-group
                label(style='color:white') Any Specific Triggers or Discomforts
                input(type='text', placeholder='Name of Triggers')
            section(style='background-color: rgb(35, 35, 35);')
              #fieldset.href-target
              h1(style='color:white')
                | Extracurricular Activities
              .nice-form-group(style='color:white')
                label(style='color:white')  Clubs or Organizations to whom you are part
              .line(style='color:white')
                p.box
                  input(type='checkbox')
                  | Cultural Committee
                p.box
                  input(type='checkbox')
                  | The Sports Committee
                p.box
                  input(type='checkbox')
                  | Literary Committee
                p.box
                  input(type='checkbox')
                  | Click Club
                p.box
                  input(type='checkbox')
                  | Sahyog-The Mentorship Club
                p.box
                  input(type='checkbox')
                  | Raaga-The Music Club
                p.box
                  input(type='checkbox')
                  | Go Green Club
                p.box
                  input(type='checkbox')
                  | Rajbhasha Samiti
                p.box
                  input(type='checkbox')
                  | TEDxNITRaipur
                p.box
                  input(type='checkbox')
                  | NCC
                p.box
                  input(type='checkbox')
                  | Dance club
                p.box
                  input(type='checkbox')
                  | Interact Club
                p.box
                  input(type='checkbox')
                  | Abhinay
                p.box
                  input(type='checkbox')
                  | NSS
                p.box
                  input(type='checkbox')
                  | Spic MACYa
                p.box
                  input(type='checkbox')
                  | Ethics club
                p.box
                  input(type='checkbox')
                  | UBA (Unnat Bharat Abhiyan)
                p.box
                  input(type='checkbox')
                  | Finance &amp; Consulting Club
                p.box
                  input(type='checkbox')
                  | The Technocracy
                p.box
                  input(type='checkbox')
                  | Robotics Club
                p.box
                  input(type='checkbox')
                  | NITRR MOTO SPORTS
                p.box
                  input(type='checkbox')
                  | Innovation Cell
                p.box
                  input(type='checkbox')
                  | E-Cell
              //- .nice-form-group
              //-   label(style='color:white') Role in the Club
              //-   input(type='text', placeholder='Role in the club')
              //- .nice-form-group
              //-   label(style='color:white') Description of Club
              //-   textarea(cols='50', rows='4', placeholder='Description of club', style='width:100%;max-width: 100%;min-width: 100%;')
              //- .nice-form-group
              //-   label(style='color:white') Description of your Role
              //-   textarea(cols='50', rows='4', placeholder='Description of your Role', style='width:100%;max-width: 100%;min-width: 100%;')
              //- .nice-form-group
              //-   label(style='color:white') Involvement in Each Activity
              //-   textarea(cols='50', rows='4', placeholder='Write about each activity in which you are involve', style='width:100%;max-width: 100%;min-width: 100%;')
              //- .nice-form-group
                label(style='color:white') Achievements
                textarea(cols='50', rows='4', placeholder='Awards or Achievements Related to Extracurricular Activities', style='width:100%;max-width: 100%;min-width: 100%;')
            section(style='background-color: rgb(35, 35, 35);')
              #icons.href-target
              h1(style='color:white')
                | Skills and Talents
              .nice-form-group
                label(style='color:white') Name of Skill
                .flexing-skills-talents
                .line(style='color:white;display: flex;')
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Chess
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Cricket
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Football
                .line(style='color:white;display: flex;')
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Singing
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Dancing
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Guitar
                .line(style='color:white;display: flex;')
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Beatboxing
                  .box(style='width:3cm;')
                    input(type='radio' name='option1')
                    | Coding
              .nice-form-group
                //- label(style='color:white') Name of Certification Organization
                //- input(type='url', placeholder='Name of Organization')
              //- .nice-form-group(style='color:white')
                //- label(style='color:white') Work Exprience if any
                //-           From
                //- input(type='date', style='width:40%')
                //-           To
                //- input(type='date', style='width:40%')
              section(style='background-color: rgb(35, 35, 35);')
                #validation.href-target
                h1(style='color:white')
                  | Sports and Games
                .nice-form-group
                  .nice-form-group
                    //- label(style='color:white') Sports Played
                    //- textarea(cols='50', rows='4', placeholder='Name all the sports with one line Description', style='width:100%;max-width: 100%;min-width: 100%;')
                  .nice-form-group
                    label(style='color:white') Favourite Sport
                    input(type='text', placeholder='Name of Sport')
                  .nice-form-group
                    //- label(style='color:white') Achievements and Awards in the Sport and Games
                    //- input(type='text', placeholder='Achievements')
              section(style='background-color: rgb(35, 35, 35);')
                #date.href-target
                h1(style='color:white')
                  | Creative Arts
                .nice-form-group
                  label(style='color:white') Name of Creative Hobby
                  input(type='text', placeholder='Singing/Dancing/Acting/Instrument Playing/Art and Craft/Other')
                .nice-form-group
                  //- label(style='color:white') Description
                  //- textarea(cols='50', rows='4', placeholder='Describe the Hobby', style='width:100%;max-width: 100%;min-width: 100%;')
                .nice-form-group
                  //- label(style='color:white') Achievements or Awards in that Hobby
                  //- input(type='text', placeholder='Achievements')
              section(style='background-color: rgb(35, 35, 35);')
                #other.href-target
                h1(style='color:white')
                  | Career Aspirations
                .nice-form-group
                  label(style='color:white') What you what to become? in future
                  input(type='text', placeholder='Singer/Dancer/Programmer/other')
                .nice-form-group
                  //- label(style='color:white') Description
                  //- textarea(cols='50', rows='4', placeholder='Describe your Ambitions and Goal', style='width:100%;max-width: 100%;min-width: 100%;')
              section(style='background-color: rgb(35, 35, 35);')
                #reset.href-target
                h1(style='color:white')
                  | Challenges and Weakness
                .nice-form-group
                  label(style='color:white') What are the areas where you face Challenges
                  input(type='text', placeholder='Studies/sports/programming/other')
                  .nice-form-group
                    //- label(style='color:white') Description
                    //- textarea(cols='50', rows='4', placeholder='Describe about your Weakness', style='width:100%;max-width: 100%;min-width: 100%;')
    button.submitButton Submit
