body{
    background:url(backgournd2.jpg);
}
div[class="main"]{
background-color: rgb(28, 28, 28);
color:white;
width:9cm;
position: absolute;
left:65%;
top:20%;
border-radius: 10px;
font-family: monospace;
font-size: 15;
height:10cm;
}
p{
    padding-left: 10px;
}
input[type="password"],input[type="email"]{
    width:95%;
    height: 1cm;
}
button[class="sign"]{
    position: relative;
    width:95%;
    height:1cm;
    margin-bottom: 10px;
    background-color: rgb(182, 182, 1);
    border:none;
}
button[class="sign"]:hover{
    background-color: rgb(148, 148, 2);
    
}
button[class="sign"]:active{
    background-color: rgb(81, 81, 2);
    color:white;  
}
div[class="heading"]{
    padding-top: 5px;
    box-shadow: 0px 5px 5px rgb(32, 32, 32);
    padding-bottom: 10px;
}
a{
text-decoration: none;
color:rgb(122, 122, 23);
}
a:hover{
color:rgb(233, 232, 232)
}
p[class="link"]{
padding-bottom: 20px;
}
