div[class="main0"] {
  text-align: center;
}
div[class="completingBar"] {
  margin: auto;
  border: solid;
  width: 21cm;
  height: 10px;
  border-radius: 5px;
}
p[class="heading1"] {
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 30;
}
div[class="circle"] {
  width: 1cm;
  height: 1cm;
  border-radius: 50%;
  margin-left: 42px;
  background-color: white;
}
div[class="circles"] {
  display: flex;
  padding-left: 13%;
  position: relative;
  top: -0.7cm;
}
img {
  width: 1cm;
  height: 1cm;
  border-radius: 50%;
}
body {
  background-color: rgb(93, 93, 93);
}
