header.header 
  img.logoimage(src='/public/img/logo.png' alt='Logo')
  nav 
    ul.headerlist 
      li.headerHeading 
        a.headerlink(href='#') Home
      li.headerHeading 
        a.headerlink(href='#') ChatBot
      li.headerHeading 
        a.headerlink(href='#') About Us
      li.headerHeading 
        a.headerlink(href='#') Terms and Conditions
      li.headerHeading 
        a.headerlink(href='#') Contact Us
  .buttons
    a.loginbutton(href='/login') Login
    a.loginbutton(href='/signup') Sign Up