doctype html 
html 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/css/userProfile.css')
    link(rel='shortcut icon' type='image/png' href='/public/img/logo.png')
    title Profile Page |
  body(style='background-color:rgb(38, 38, 38)')
    // Header
    include _header

    // Content
    block content 
      h1 Radhe Radhe

    // FOOTER
    include _footer





//- if user 
//-     a(href='/api/v1/users/logout') Logout 
//- else
//-     a(href='/login') Login 
//-     a(href='/signup') SignUp 