div[class="main_home_page"]
{
width: 100%;
 color:white;
}
div[class="main_heading_box"]{
margin-top: 5%;
color:white;
width:60%;
margin-top:10px;
margin-left:20%;
font-weight: 900;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: absolute;
top:20%;
left:-5cm;

}
button[class="sign-in_homepage"]{
width:4cm;
height:1cm;
color: white;
background-color: blue;
border:none;
outline: none;
border-radius: 10px;
}
button[class="sign-in_homepage"]:hover{
background-color: rgb(1, 1, 115);
}
button[class="sign-in_homepage"]:active{
background-color: rgb(0, 0, 65);

}