
extends base

block content
  .suggestedoutput
    p.suggested Suggested Friends
    .friends
      .border
        p.output.name1 Abhishek
        img(src="picture.jpg")
        
        p.output.name2 Abhishek
        img(src="picture.jpg")

        p.output.name3 Abhishek
        img(src="picture.jpg")
